<div id="one-div" class="col-div" style="width: 100%;">
    <div class="col-div" id="res-header">
        <ol style="margin-bottom: 0;">
            <li class="notice-li text-center" style="height: 80px; border: none; border-radius: 0; padding: 25px 0;">
                <a href="cart" class="text-white">
                    <div style="display: flex; justify-content: center;">
                        <h4 class="font-weight-bold">장바구니</h4>
                    </div>
                </a>
            </li>
        </ol>
    </div>
    <div class="container pb-5 mb-2">
        <!-- 장바구니에 담은 상품 -->
        <div class="cart-item d-md-flex justify-content-between">
            <span class="remove-item"><i class="fa fa-times"></i></span>
            <div class="px-3 my-3">
                <a class="cart-item-product" href="#">
                    <div class="cart-item-product-thumb"><img src="/images/uploads/sellProducts/까만목걸.jpg" alt="Product" /></div>
                    <div class="cart-item-product-info">
                        <h4 class="cart-item-product-title">까만 목걸</h4>
                        <span><strong>옵션</strong><br> 선물 포장</span>
                    </div>
                </a>
            </div>
            <div class="px-3 my-3 text-center">
                <div class="cart-item-label">수량</div>
                <div class="count-input">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="px-3 my-3 text-center">
                <div class="cart-item-label">담은 금액</div>
                <span class="text-xl font-weight-medium">10,000원</span>
            </div>
        </div>
        <!-- 장바구니에 담은 상품 -->
        <div class="cart-item d-md-flex justify-content-between">
            <span class="remove-item"><i class="fa fa-times"></i></span>
            <div class="px-3 my-3">
                <a class="cart-item-product" href="#">
                    <div class="cart-item-product-thumb"><img src="/images/uploads/sellProducts/예쁜목걸.jpg" alt="Product" /></div>
                    <div class="cart-item-product-info">
                        <h4 class="cart-item-product-title">예쁜 목걸</h4>
                        <span><strong>옵션</strong><br> 옵션 없음</span>
                    </div>
                </a>
            </div>
            <div class="px-3 my-3 text-center">
                <div class="cart-item-label">수량</div>
                <div class="count-input">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="px-3 my-3 text-center">
                <div class="cart-item-label">담은 금액</div>
                <span class="text-xl font-weight-medium">20,000원</span>
            </div>
        </div>
        <!-- 장바구니에 담은 상품 -->
        <div class="cart-item d-md-flex justify-content-between">
            <span class="remove-item"><i class="fa fa-times"></i></span>
            <div class="px-3 my-3">
                <a class="cart-item-product" href="#">
                    <div class="cart-item-product-thumb"><img src="/images/uploads/sellProducts/하트목걸.jpg" alt="Product" /></div>
                    <div class="cart-item-product-info">
                        <h4 class="cart-item-product-title">하트 목걸</h4>
                        <span><strong>옵션</strong><br> 세모금 스티커</span>
                    </div>
                </a>
            </div>
            <div class="px-3 my-3 text-center">
                <div class="cart-item-label">수량</div>
                <div class="count-input">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="px-3 my-3 text-center">
                <div class="cart-item-label">담은 금액</div>
                <span class="text-xl font-weight-medium">30,000원</span>
            </div>
        </div>
        <!-- 주문 시 요청 사항 + 총 담은 금액 -->
        <div class="d-sm-flex justify-content-between align-items-center text-center text-sm-left">
            <form class="form-inline py-2" style="width: 100%;">
                <label class="sr-only">주문 시 요청 사항</label>
                <input class="form-control form-control-sm my-2 mr-3" type="text" placeholder="주문 시 요청 사항" style="width: 80%;">
                <!-- modal 구동 버튼 (trigger) -->
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                    적용하기
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">주문 시 요청 사항</h4></div>
                            <div class="modal-body">주문 시 요청 사항이 적용됐습니다!</div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button></div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="py-2">
                <span class="d-inline-block align-middle text-sm text-muted font-weight-medium text-uppercase mr-2">총 담은 금액:</span
                ><span class="d-inline-block align-middle text-xl font-weight-medium"> 60,000원</span>
            </div>
        </div>
        <!-- 쇼핑으로 돌아가기 & 구매하기 -->
        <hr class="my-2" />
        <div class="row pt-3 pb-5 mb-2">
            <div class="col-sm-6 mb-3">
                <a class="btn btn-style-1 btn-secondary btn-block" href="/mogeum/3"><i class="fe-icon-refresh-ccw"></i>&nbsp;쇼핑으로 돌아가기</a>
            </div>
            <div class="col-sm-6 mb-3">
                <a class="btn btn-style-1 btn-custom btn-block buy" href="#"><i class="fe-icon-credit-card"></i>&nbsp;구매하기</a>
            </div>
        </div>
    </div>