<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>We are sorry, Page not found!</h2>
        <p><%=errorMessage %></p>
        <a href="/">메인으로 돌아가기</a>
    </div>
</div>