<div class="limiter">
    <div class="container-login100" style="background-image: url('/stylesheets/login/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" method="POST" action="/users/findId">
                <span class="login100-form-title p-b-49">
                    아이디 찾기
                </span>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <span class="label-input100">이름</span>
                    <input class="input100" type="text" name="userName" placeholder="Type your UserName" />
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">휴대폰 번호</span>
                    <input class="input100" type="text" name="userPhone" placeholder="Type your Phone Number" />
                    <span class="focus-input100" data-symbol="&#xf155;"></span>
                </div>
                <div class="text-right p-t-8 p-b-31 find-pwd">
                    <a href="/users/login">로그인하기</a>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            확인
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>
