<div class="limiter">
    <div class="container-login100" style="background-image: url('/stylesheets/login/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <span class="login100-form-title p-b-49">
                아이디를 찾았습니다
            </span>
            <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reuired">
                <span class="label-input100">아이디</span>
                <input class="input100" type="text" value="<%=userId%>" disabled/>
                <span class="focus-input100" data-symbol="&#xf206;"></span>
            </div>
            <div class="text-right p-t-8 p-b-31 find-pwd">
                <a href="/users/login">로그인하기 |</a>
                <a href="/users/findPwd">비밀번호 찾기</a>
            </div>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn">
                        <a href="/" style="font-size: 16px; color: white;">메인으로 가기</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>
