    <section id="footer" style="margin-top: 50px; background-color: #f6f6f6;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="https://github.com/1000peach/SEMOGEUM" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/kusitms_official/?hl=ko" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/kusitms.page/?hc_ref=ARSsLUM7bm47KDrxgkcXI6LKdSCaBC1n7NZeqgjB8l5IysbIb2nrBeOpjBhvaacu23U&fref=nf&__tn__=kC-R" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>	
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
                    <p style="font-size: 14px;">주식회사 탐사수 | 대표: 조재희 외 6명 | 사업자 등록번호: xxx-xx-xxxxx<br />서울특별시 강남구 테헤란로 39(희망사항) | 대표전화: xxx-xx-xxxxx</p>
                    <p class="h6" style="font-size: 14px;">COPYRIGHT 2020 TAMSASOO. &copy ALL RIGHTS RESVERED.</p>
                </div>
                </hr>
            </div>	
        </div>
    </section>
<!-- ./Footer -->
    </div> <!-- 메인 페이지 전체 감싸는 div -->
    </body>
    <script src="/javascripts/nav.js"></script>
    <script src="/javascripts/oneMogeum.js"></script>
    <script src="/javascripts/twoMogeum.js"></script>
    <script src="/javascripts/cart.js"></script>
    <script>
    /* ios css 고려 */
    if (checkMobile() === 'ios') {
        $("#res-header").css("margin-bottom", "80px");
    }
    /* 장바구니 삭제 함수 */
    $('#remove-form').on('submit', function (event) {
    event.preventDefault();
    deleteCart().then(data => {
        if (data.status === 1) { // 장바구니 삭제 성공
            selectCart();
            alert("장바구니에서 삭제되었습니다!");
        } else { // 장바구니 삭제 실패
            alert("올바르지 않은 접근입니다!");
        }
    }); 
});
    </script>
</html>