    <hr style="border: solid 0.5px grey;">
    <div class="footer" style="width: 100%;">
        <p>세모금 이용 약관 | 개인정보처리방침 | 책임의 한계와 법적 고지 | 고객센터</p>
        <p>주식회사 탐사수 | 대표: 조재희 외 6명 | 사업자 등록번호: xxx-xx-xxxxx</p>
        <p>서울특별시 강남구 테헤란로 39(희망사항) | 대표전화: My luv... 잇킁!</p>
    </div>
    </div> <!-- 메인 페이지 전체 감싸는 div -->
    </body>
    <script src="/javascripts/nav.js"></script>
    <script src="/javascripts/oneMogeum.js"></script>
</html>