<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- 부트스트랩4 CDN 링크로 추가 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <!-- 로그인 템플릿 연동 -->
        <link href="/stylesheets/login/css/main.css" rel="stylesheet">
        <link href="/stylesheets/login/css/util.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">
	    <link rel="icon" type="image/png" href="/stylesheets/login/images/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/login/fonts/iconic/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/login/vendor/animate/animate.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/login/vendor/css-hamburgers/hamburgers.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/login/vendor/animsition/css/animsition.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/login/vendor/select2/select2.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/login/vendor/daterangepicker/daterangepicker.css"> 
        <script src="/stylesheets/login/vendor/animsition/js/animsition.min.js"></script>
        <script src="/stylesheets/login/vendor/select2/select2.min.js"></script>
        <script src="/stylesheets/login/vendor/daterangepicker/moment.min.js"></script>
        <script src="/stylesheets/login/vendor/daterangepicker/daterangepicker.js"></script>
        <script src="/stylesheets/login/vendor/countdowntime/countdowntime.js"></script>
        <script src="/stylesheets/login/js/main.js"></script>
        
        <!-- 회원가입 템플릿 연동 -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/signup/css/opensans-font.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/signup/css/line-awesome.min.css">
        <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
        <link rel="stylesheet" href="/stylesheets/signup/css/style.css"/>
        <script>
            // just for the demos, avoids form submit
            jQuery.validator.setDefaults({
                debug: true,
                success:  function(label){
                    label.attr('id', 'valid');
                },
            });
            $( "#myform" ).validate({
                rules: {
                    your_email: {
                        required: true,
                        email: true
                    },
                    password: "required",
                    comfirm_password: {
                        equalTo: "#password"
                    }
                },
                messages: {
                    username: {
                        required: "Please enter an username"
                    },
                    your_email: {
                        required: "Please provide an email"
                    },
                    password: {
                        required: "Please provide a password"
                    },
                    comfirm_password: {
                        required: "Please provide a password",
                        equalTo: "Wrong Password"
                    }
                }
            });
        </script>
    
        <title><%= title %></title>
    </head>