<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-25 p-b-54">
            <div class="thumbnail-wrapper" style="display: flex; background-color: white; justify-content:center; margin-top: 0;">
                <img src="/images/icon.png" style="height: 150px;" class="text-center" alt="세모금 메인" usemap="#signup-map">
                <map name="signup-map">
                    <area shape="rect" coords="25,50,90,120" alt="세모금 메인 바로가기" href="/mogeum/1" style="outline: 0;" />
                </map>
            </div>
            <form class="login100-form validate-form" method="POST" action="/users/login">
                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <span class="label-input100">아이디</span>
                    <input class="input100" type="text" name="userId" placeholder="Type your username" />
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">비밀번호</span>
                    <input class="input100" type="password" name="userPwd" placeholder="Type your password" />
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                <div class="text-right p-t-8 p-b-31 find-pwd">
                    <a href="/users/findId">아이디 찾기 |</a>
                    <a href="/users/findPwd">비밀번호 찾기</a>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            로그인
                        </button>
                    </div>
                </div>

                <div class="flex-c-m p-t-30">
                    <a href="#" class="login100-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="login100-social-item bg2">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="#" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                    
                </div>

                <div class="flex-col-c p-t-30">
                    <a href="/users/signUp" class="txt2">
                        회원가입
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>
