<div id="one-div" class="col-div" style="width: 100%;">
<div class = "container-fluid"> <!--헤더 부분-->
    <div class = "row mypage-header" style="justify-content: center;">
        마이페이지 <br>
        이현서님의 남은 투표수 (6월) : 2개
    </div>
</div>

<div class = "container">
    <div class = "row" id = "profile-info" style="justify-content: center; align-items: center;">
        <div class = "col-6 profile-sep1" id = "profile">
            <img src = "/images/man.png" id = "profile-img"> <br>
            닉네임: 현더 LEE <br>
            <button type = "button" class = "btn btn-outline-dark btn-sm edit">수정</button>
        </div>
        <div class = "col-6 profile-sep2">
            <div class = "contact"><strong>연락처</strong> <br></div>
            이메일: hyundeo***@n****.com <br>
            휴대전화: +82 10-5**-1**8 <br>
            <button type = "button" class = "btn btn-outline-dark btn-sm edit">수정</button>
        </div>
    </div>
</div>

<hr style = "border: solid 1px grey;">

<div class = "container">
    <div class = "row" style="align-items: center;">
        <div class = "col-6 title-left">
            <strong>투표 내역 조회</strong>
        </div>
        <div class = "col-6 title-right">
            더보기 >
        </div>
    </div>
    <hr style="border: 0.5px solid black;">
    <div class = "row vote-product">
        <div class = "col-3">
            <img src = "/images/catPaw.PNG" class="img-fluid">
            <div class = "rank">현재 9위</div>
        </div>
        <div class = "col-3">
            <img src = "/images/catPaw.PNG" class="img-fluid">
            <div class = "rank">현재 5위</div>
        </div>
        <div class = "col-3">
            <img src = "/images/catPaw.PNG" class="img-fluid">
            <div class = "rank">현재 1위</div>
        </div>
        <div class = "col-3">
            <img src = "/images/catPaw.PNG" class="img-fluid">
            <div class = "rank">현재 3위</div>
        </div>
        <hr>
    </div>

    <div class = "row title">
        <div class = "col-6 title-left">
            <strong>주문 내역 조회</strong>
        </div>
        <div class = "col-6 title-right">
            더보기 >
        </div>
    </div>
    <hr style="border: 0.5px solid black;">
    <div class = "row buy-list">
        <div class = "col-6">
            제품정보
        </div>
        <div class = "col-2">
            주문일자
        </div>
        <div class = "col-2">
            주문금액(수량)
        </div>
        <div class = "col-2">
            주문 상태
        </div>
    </div>
    <div class = "row buy-specific">
        <div class = "col-6">
            <div class = "row" style="align-items: center;">
                <div class = "col-5">
                    <img src = "/images/catPaw.PNG" class = "img-fluid buy-img">
                </div>
                <div class = "col-7">
                    귀여운 민지를 만져봐요!
                </div>
            </div>
        </div>
        <div class = "col-2">
            2020.05.25
        </div>
        <div class = "col-2">
            15,000 <br>
            (1개)
        </div>
        <div class = "col-2">
            배송 준비중
        </div>
    </div>

    <div class = "row title">
        <div class = "col-6 title-left">
            <strong>상품 구매 내역</strong>
        </div>
        <div class = "col-6 title-right">
            더보기 >
        </div>
    </div>
    <hr style="border: 0.5px solid black;">
    <div class = "row" style="align-items: center;">
        <div class = "col-6">
            <div class = "row" style="align-items: center;">
                <div class = "col-5">
                    <img src = "/images/catPaw.PNG" class = "img-fluid">
                </div>
                <div class = "col-7">
                    귀민쓰 장갑
                </div>
            </div>
        </div>
        <div class = "col-6 buy-review">
            <button type = "button" class = "btn btn-outline-dark btn-lg btn-block">구매 후기 작성</button>
        </div>
    </div>

    <div class = "row title">
        <div class = "col-6 title-left">
            <strong>장바구니</strong>
        </div>
        <div class = "col-6 title-right">
            더보기 >
        </div>
    </div>
    <hr style="border: 0.5px solid black;">
    <div class = "row" style="align-items: center;">
        <div class = "col-9 semi-title">
            제품 정보
        </div>
        <div class = "col-3 semi-title">
            담은금액 (수량)
        </div>
    </div>
    <div class = "row" style="align-items: center;">
        <div class = "col-1">
            <div class="form-check cart-check">
                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div>
        </div>
        <div class = "col-8">
            <div class = "row" style="align-items: center;">
                <div class = "col-4 cart-img">
                    <img src = "/images/catPaw.PNG" class = "img-fluid">
                </div>
                <div class = "col-8">
                    귀요미 고양이 장갑
                </div>
            </div>
        </div>
        <div class = "col-3 cart-price">
            19,800원 <br>
            (2개)
        </div>
    </div>
    <hr style="border: 0.5px solid grey;">
    <div class = "row" style="align-items: center;">
        <div class = "col-1">
            <div class="form-check cart-check">
                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div>
        </div>
        <div class = "col-8">
            <div class = "row" style="align-items: center;">
                <div class = "col-4 cart-img">
                    <img src = "/images/catPaw.PNG" class = "img-fluid">
                </div>
                <div class = "col-8">
                    귀요미 고양이 장갑
                </div>
            </div>
        </div>
        <div class = "col-3 cart-price">
            19,800원 <br>
            (2개)
        </div>
    </div>
    <hr style="border: 0.5px solid grey;">
    <div class = "row" style="align-items: center;">
        <div class = "col-1">
            <div class="form-check cart-check">
                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div>
        </div>
        <div class = "col-8">
            <div class = "row" style="align-items: center;">
                <div class = "col-4 cart-img">
                    <img src = "/images/catPaw.PNG" class = "img-fluid">
                </div>
                <div class = "col-8">
                    귀요미 고양이 장갑
                </div>
            </div>
        </div>
        <div class = "col-3 cart-price">
            19,800원 <br>
            (2개)
        </div>
    </div>
    <hr style="border: 0.5px solid grey;">

    <div class = "row title">
        <div class = "col title-left">
            <strong>이 외 도움이 필요하시다면?</strong>
        </div>
    </div>
    <div class = "row" style="align-items: center;">
        <div class = "col-4 extra-menu">
            최근 본 상품
        </div>
        <div class = "col-4 extra-menu">
            구매 후기
        </div>
        <div class = "col-4 extra-menu">
            1:1 문의
        </div>
    </div>
    <div class = "row" style="align-items: center;">
        <div class = "col-4 extra-menu">
            취소/환불 문의
        </div>
        <div class = "col-4 extra-menu">
            쿠폰함
        </div>
        <div class = "col-4 extra-menu">
            세모금에게 <br> 후원하기
        </div>
    </div>
</div>