<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
        <title><%= title %></title>
    </head>
    <style>
        @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
        * {
            box-sizing: border-box;
        }
        html,
        body {
            font-family: 'NanumSquare', sans-serif;
            height: 100%;
        }
        /* colum 방향 정렬 */
        .col-div {
            display: flex;
            flex-direction: column;
        }
        nav {
            height: 100%;
            width: 250px;
            cursor: pointer;
            overflow-y: auto;
            background-color: #111111;
        }
        /* 로그인 메뉴 */
        #login-menu {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
        }
        #login-menu a {
            width: 50%;
            text-align: center;
            font-size: 14px;
            height: 25px;
        }
        /* 페이지 메뉴 */
        #page-menu a {
            padding: 15px;
            width: 100%;
            height: 60px;
            font-size: 19px;
        }
        /* 특정 메뉴 마우스 오버 시 */
        button:hover,
        #login-menu a:hover,
        p:hover {
            color: #b2ccff;
            text-decoration: none;
        }
        /* 페이지 메뉴 마우스 오버 시 */
        #page-menu a:hover {
            background-image: linear-gradient(to right, #80d4ff, #cc66ff);
            text-decoration: none;
            color: white;
        }
        /* 기본 태그 설정 */
        p,
        h4,
        h5,
        a,
        button {
            color: white;
        }
        button {
            cursor: pointer;
            border: none;
            outline: 0;
            height: 60px;
            background: none;
        }
    </style>
    <nav id="nav" class="col-div">
        <div id="logo" class="col-div" style="width: 100%; height: 200px;">
            <img src="http://placehold.it/220x80" alt="세모금 로고" width="220" height="80" style="margin: 10px auto;" />
            <p class="mx-auto d-block">세상의 모든 금손</p>
        </div>
        <div id="userdiv" style="height: 200px; padding: 20px;">
            <h5 class="text-center" style="margin-bottom: 20px;">
                민지엑흐님 환영합니다.
            </h5>
            <div id="login-menu">
                <a href="#">마이페이지</a>
                <a href="#">공지사항</a>
            </div>
        </div>
        <div id="page-menu" class="col-div">
            <a href="#"><img src="images/rank.png" width="27" height="27" />&nbsp;한 모금, 투표하기</a>
            <a href="#"><img src="images/rank.png" width="27" height="27" />&nbsp;두 모금, 선정결과</a>
            <a href="#"><img src="images/rank.png" width="27" height="27" />&nbsp;세 모금, 구매하기</a>
        </div>
    </nav>
