<div class="col-div" style="width: 100%; z-index: 1;">
    <ol>
        <li class="onemogeum-banner text-center">
            <b class="d-day text-danger bg-white">D-4</b>
            <a href="#" class="text-white">5월의 상품에 투표해 주세요! (2020.04.20~2020.04.26)</a><br>
            <a href="#" class="text-white">상품화 되었으면 하는 제품 및 아이디어에 투표해 주세요. (인당 5개 가능)</a>
        </li>
    </ol>
</div>
</body>
    <script src="/javascripts/nav.js"></script>
</html>
