<body class="thumbnail-wrapper" style="display: flex; margin: 0; background-color: black;">
    <img class="text-center" src="/images/preview.png" alt="세모금 프리뷰" style="height: 10000px; margin: 0 auto;" usemap="#preview-map"/>
    <map name="preview-map">
        <area shape="rect" coords="0,700,1920,850" alt="세모금 메인 바로가기" href="/" style="outline: 0;" />
        <area shape="rect" coords="0,9450,1920,9600" alt="세모금 회원가입 바로가기" href="/users/signUp" style="outline: 0;" />
        <area shape="rect" coords="0,9720,1920,9870" alt="세모금 메인 바로가기" href="/" style="outline: 0;" />
    </map>
</body>
