<div id="one-div" class="col-div" style="width: 100%;">
    <div class="col-div">
        <ol style="margin-bottom: 0;">
            <li class="notice-li text-center" style="height: 80px; border: none; border-radius: 0; padding: 15px 0;">
                <a href="/mogeum/1" class="text-white">
                    <div style="display: flex; justify-content: center;">
                        <h4 class="font-weight-bold">당신의 소중한 아이디어를 뽐내 주세요!</h4>
                    </div>
                    <span id="sub-notice" style="font-size: 14px;">아이디어를 등록해주셔서 감사합니다. 귀중한 내용을 꼼꼼히 읽고, 열심히 검토하겠습니다.</span>
                </a>
            </li>
        </ol>
    </div>
    <div id="one-div-main" class="container">
        <div class="bg-contact2">
            <div class="container-contact2">
                <div class="wrap-contact2">
                    <form class="contact2-form validate-form" method="POST" enctype="multipart/form-data">
                        <span class="contact2-form-title">
                            여기에 제목을 쓰자
                        </span>
                        <span>판매자에 대해 간단히 소개해 주세요.</span>
                        <div class="wrap-input2 validate-input">
                            <!-- hidden속성으로 userId 추가 예정 -->
                            <input class="input2" type="text" name="sellerIntro">
                            <span class="focus-input2" data-placeholder="투표 단계에서는 본인 노출이 불가능하며, 상품 선정시 판매 페이지에서 판매자 정보가 등록됩니다."></span>
                        </div>
        
                        <div class="wrap-input2 validate-input">
                            <input class="input2" type="text" name="prodIntro">
                            <span class="focus-input2" data-placeholder="제품명을 입력해 주세요."></span>
                        </div>
                        <span>제품에 대해 자세히 소개해 주세요.</span>
                        <div class="wrap-input2 validate-input">
                            <textarea class="input2" name="prodDesc"></textarea>
                            <span class="focus-input2" data-placeholder="제작 배경, 예상 소재, 예상 고객, 제품의 용도 등을 자세히 소개해 주세요."></span>
                        </div>
                        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

                        <!-- 파일 업로드 템플릿 -->
                        <div class="container center">	
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 center">
                                    <div class="btn-container">
                                        <!--the three icons: default, ok file (img), error file (not an img)-->
                                        <h1 class="imgupload"><i class="fa fa-file-image-o"></i></h1>
                                        <h1 class="imgupload ok"><i class="fa fa-check"></i></h1>
                                        <h1 class="imgupload stop"><i class="fa fa-times"></i></h1>
                                        <!--this field changes dinamically displaying the filename we are trying to upload-->
                                        <p id="namefile">메인으로 올라갈 이미지를 등록해주세요.<br>최대 4개까지 등록이 가능합니다.</p>
                                        <!--our custom btn which which stays under the actual one-->
                                        <button type="button" id="btnup" class="btn btn-primary btn-lg">Browse for your pic!</button>
                                        <!--this is the actual file input, is set with opacity=0 beacause we wanna see our custom one-->
                                        <input type="file" value="" name="fileup" id="fileup">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container-contact2-form-btn">
                            <div class="wrap-contact2-form-btn">
                                <div class="contact2-form-bgbtn"></div>
                                <button class="contact2-form-btn">
                                    제출하기
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- /one-div-main -->
    <script>
        // 파일 업로드 기능
        $('#fileup').change(function(){
            var res=$('#fileup').val();
            var arr = res.split("\\");
            var filename=arr.slice(-1)[0];
            filextension=filename.split(".");
            filext="."+filextension.slice(-1)[0];
            valid=[".jpg",".png",".jpeg",".bmp"];
            if (valid.indexOf(filext.toLowerCase())==-1){
                $( ".imgupload" ).hide("slow");
                $( ".imgupload.ok" ).hide("slow");
                $( ".imgupload.stop" ).show("slow");
            
                $('#namefile').css({"color":"red","font-weight":700});
                $('#namefile').html("File "+filename+" is not  pic!");
                
                $( "#submitbtn" ).hide();
                $( "#fakebtn" ).show();
            }else{
                $( ".imgupload" ).hide("slow");
                $( ".imgupload.stop" ).hide("slow");
                $( ".imgupload.ok" ).show("slow");
            
                $('#namefile').css({"color":"green","font-weight":700});
                $('#namefile').html(filename);
            }
        });
    </script>

    
