<body class="form-v7">
	<div class="page-content">
		<div class="form-v7-content">
			<div class="form-left">
				<img src="/stylesheets/signup/images/form-v7.jpg" alt="form">
				<p class="text-1">회원가입</p>
				<!--<p class="text-2">Privaci policy & Term of service</p>-->
			</div>
			<form class="form-detail" action="/users/signUp" method="POST" id="myform">
				<div class="form-row">
					<label for="username">아이디</label>
					<input type="text" name="userId" id="username" class="input-text">
				</div>
				<div class="form-row">
					<label for="your_email">이름</label>
					<input type="text" name="userName" id="username" class="input-text" required>
				</div>
				<div class="form-row">
					<label for="password">비밀번호</label>
					<input type="password" name="userPwd" id="password" class="input-text" required>
				</div>
				<div class="form-row">
					<label for="comfirm_password">비밀번호 확인</label>
					<input type="password" name="userPwdConfirm" id="comfirm_password" class="input-text" required>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="회원가입">
					<p>또는<a href="/users/login">로그인</a></p>
				</div>
			</form>
		</div>
	</div>
</body>