<div id="one-div" class="col-div" style="width: 100%;">
    <div class="col-div">
        <ol style="margin-bottom: 0;">
            <li class="notice-li text-center" style="height: 80px; border: none; border-radius: 0; padding: 15px 0;">
                <a href="/mogeum/3" class="text-white">
                    <div style="display: flex; justify-content: center;">
                        <h4 class="font-weight-bold">세 모금, 세상에 나오다!</h4>
                    </div>
                    <span id="sub-notice" style="font-size: 14px;">세상 어디에도 없는, 세모금만의 상품입니다.</span>
                </a>
            </li>
        </ol>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12 order-md-3 col-lg-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 order-md-1 col-lg-4">
                            <div class="card h-100 border-0">
                                <div class="card-img-top">
                                    <div class="product-rank">
                                        1위
                                    </div>
                                    <img
                                        src="/images/threeProduct.png"
                                        class="img-fluid mx-auto d-block"
                                        alt="Card image cap"
                                    />
                                </div>
                                <div class="card-body text-center" style="background-color: ghostwhite;">
                                    <h4 class="card-title">
                                        <a href="#" name="product-name" class="font-weight-bold text-dark text-uppercase small">거울</a>
                                    </h4>
                                    <h5 class="card-price small text-warning">
                                        <i name="product-price" style="font-size: 20px;">5000원</i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 order-md-1 col-lg-4">
                            <div class="card h-100 border-0">
                                <div class="card-img-top">
                                    <div class="product-rank">
                                        2위
                                    </div>
                                    <img
                                        src="/images/threeProduct.png"
                                        class="img-fluid mx-auto d-block"
                                        alt="Card image cap"
                                    />
                                </div>
                                <div class="card-body text-center" style="background-color: ghostwhite;">
                                    <h4 class="card-title">
                                        <a href="#" name="product-name" class="font-weight-bold text-dark text-uppercase small">거울</a>
                                    </h4>
                                    <h5 class="card-price small text-warning">
                                        <i name="product-price" style="font-size: 20px;">5000원</i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 order-md-1 col-lg-4">
                            <div class="card h-100 border-0">
                                <div class="card-img-top">
                                    <div class="product-rank">
                                        3위
                                    </div>
                                    <img
                                        src="/images/threeProduct.png"
                                        class="img-fluid mx-auto d-block"
                                        alt="Card image cap"
                                    />
                                </div>
                                <div class="card-body text-center" style="background-color: ghostwhite;">
                                    <h4 class="card-title">
                                        <a href="#" name="product-name" class="font-weight-bold text-dark text-uppercase small">거울</a>
                                    </h4>
                                    <h5 class="card-price small text-warning">
                                        <i name="product-price" style="font-size: 20px;">5000원</i>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>