<div id="one-div" class="col-div" style="width: 100%;">
    <button type="button" id="top" style="width: 60px; height: 60px;">
        <img src="/images/top.png" width="30" height="30" alt="scroll top" />
    </button>
    <div class="col-div" id="res-header">
        <ol style="margin-bottom: 0;">
            <li class="notice-li text-center" style="height: 80px; border: none; border-radius: 0; padding: 15px 0;">
                <a href="/mogeum/3" class="text-white">
                    <div style="display: flex; justify-content: center;">
                        <h4 class="font-weight-bold">세 모금, 세상에 나오다!</h4>
                    </div>
                    <span id="sub-notice" style="font-size: 14px;">세상 어디에도 없는, 세모금만의 상품입니다.</span>
                </a>
            </li>
        </ol>
    </div>
    <div class="container" id="three-start">
        <div class="row mt-3">
            <div class="col-md-12 order-md-3 col-lg-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 order-md-1 col-lg-4">
                            <div class="best-sell card h-100 border-0">
                                <div class="card-img-top">
                                    <p class="product-rank text-white text-center">
                                        1위
                                    </p>
                                    <img
                                        src="/images/catPaw.PNG"
                                        class="img-fluid mx-auto d-block"
                                        alt="Card image cap"  
                                    />
                                </div>
                                <div class="card-body text-left">
                                    <p class="mb-0"><small>주식회사 탐사수</small></p>
                                    <h6 class="font-weight-bold">탐사수의 비보트 텀블러</h6>
                                    <p class="mb-0 text-dark" style="padding: 5px 0;"><small>어디가서 저어어어얼대 살 수 없는 비보트 텀블러... 기획대상 탐사수에게는?!</small></p>
                                    <p class="card-price mb-0 font-weight-bold">10,000원</p>
                                </div>
                                <span id="click-cnt">
                                    <img src="/images/cnt.png" width="20" height="10" alt="조회수" />
                                    <small>123</small>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 order-md-1 col-lg-4">
                            <div class="best-sell card h-100 border-0">
                                <div class="card-img-top">
                                    <p class="product-rank text-white text-center">
                                        2위
                                    </p>
                                    <img
                                        src="/images/catPaw.PNG"
                                        class="img-fluid mx-auto d-block"
                                        alt="Card image cap"
                                    />
                                </div>
                                <div class="card-body text-left">
                                    <p class="mb-0"><small>주식회사 탐사수</small></p>
                                    <h6 class="font-weight-bold">탐사수의 비보트 텀블러</h6>
                                    <p class="mb-0 text-dark" style="padding: 5px 0;"><small>어디가서 저어어어얼대 살 수 없는 비보트 텀블러... 기획대상 탐사수에게는?!</small></p>
                                    <p class="card-price mb-0 font-weight-bold">
                                    <p class="card-price mb-0 font-weight-bold">10,000원</p>
                                </div>
                                <span id="click-cnt">
                                    <img src="/images/cnt.png" width="20" height="10" alt="조회수" />
                                    <small>123</small>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 order-md-1 col-lg-4">
                            <div class="best-sell card h-100 border-0">
                                <div class="card-img-top">
                                    <p class="product-rank text-white text-center">
                                        3위
                                    </p>
                                    <img
                                        src="/images/catPaw.PNG"
                                        class="img-fluid mx-auto d-block"
                                        alt="Card image cap"
                                        
                                    />
                                </div>
                                <div class="card-body text-left">
                                    <p class="mb-0"><small>주식회사 탐사수</small></p>
                                    <h6 class="font-weight-bold">탐사수의 비보트 텀블러</h6>
                                    <p class="mb-0 text-dark" style="padding: 5px 0;"><small>어디가서 저어어어얼대 살 수 없는 비보트 텀블러... 기획대상 탐사수에게는?!</small></p>
                                    <p class="card-price mb-0 font-weight-bold">10,000원</p>
                                </div>
                                <span id="click-cnt">
                                    <img src="/images/cnt.png" width="20" height="10" alt="조회수" />
                                    <small>123</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr id="top-sell" class="mt-5"/>
    <div class="container clearfix" id="three-container">
        <div class="text-right" style="width: 100%;">
            <div class="btn-group mb-3 dropleft">
                <button type="button" class="text-right btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                  정렬
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" type="button">최신순</button>
                    <button class="dropdown-item" type="button">오래된 순</button>
                    <button class="dropdown-item" type="button">상품명</button>
                    <button class="dropdown-item" type="button">낮은가격순</button>
                    <button class="dropdown-item" type="button">높은가격순</button>
                    <button class="dropdown-item" type="button">판매순</button>
                </div>
            </div>
        </div>
        <div id="buy-list" style="width: 100%;">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="card">
                        <div class="card-img-top">
                        <div class="month" id="Jan">1월</div>
                        <img class="card-img-top" src="/images/catPaw.PNG"></a>
                        </div>
                        <div class="card-body text-left">
                            <p class="mb-0"><small>주식회사 탐사수</small></p>
                            <h6 class="font-weight-bold">탐사수의 비보트 텀블러</h6>
                            <p class="mb-0 text-dark" style="padding: 5px 0;"><small>어디가서 저어어어얼대 살 수 없는 비보트 텀블러... 기획대상 탐사수에게는?!</small></p>
                            <p class="card-price mb-0 font-weight-bold">10,000원</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="card">
                        <div class="month" id="Jan">1월</div>
                        <img class="card-img-top" src="/images/catPaw.PNG"></a>
                        <div class="card-body text-left">
                            <p class="mb-0"><small>주식회사 탐사수</small></p>
                            <h6 class="font-weight-bold">탐사수의 비보트 텀블러</h6>
                            <p class="mb-0 text-dark" style="padding: 5px 0;"><small>어디가서 저어어어얼대 살 수 없는 비보트 텀블러... 기획대상 탐사수에게는?!</small></p>
                            <p class="card-price mb-0 font-weight-bold">10,000원</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="card">
                        <div class="month" id="Jan">1월</div>
                        <img class="card-img-top" src="/images/catPaw.PNG"></a>
                        <div class="card-body text-left">
                            <p class="mb-0"><small>주식회사 탐사수</small></p>
                            <h6 class="font-weight-bold">탐사수의 비보트 텀블러</h6>
                            <p class="mb-0 text-dark" style="padding: 5px 0;"><small>어디가서 저어어어얼대 살 수 없는 비보트 텀블러... 기획대상 탐사수에게는?!</small></p>
                            <p class="card-price mb-0 font-weight-bold">10,000원</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="card">
                        <div class="month" id="Jan">1월</div>
                        <img class="card-img-top" src="/images/catPaw.PNG"></a>
                        <div class="card-body text-left">
                            <p class="mb-0"><small>주식회사 탐사수</small></p>
                            <h6 class="font-weight-bold">탐사수의 비보트 텀블러</h6>
                            <p class="mb-0 text-dark" style="padding: 5px 0;"><small>어디가서 저어어어얼대 살 수 없는 비보트 텀블러... 기획대상 탐사수에게는?!</small></p>
                            <p class="card-price mb-0 font-weight-bold">10,000원</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
