<div id="one-div" class="col-div" style="width: 100%;">
    <div class = "row" id = "dropdown-right">
        <div class="btn-group">
            <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
              정렬
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button">최신순</button>
                <button class="dropdown-item" type="button">신제품</button>
                <button class="dropdown-item" type="button">상품명</button>
                <button class="dropdown-item" type="button">낮은가격순</button>
                <button class="dropdown-item" type="button">높은가격순</button>
                <button class="dropdown-item" type="button">판매순</button>
            </div>
        </div>
    </div>
    <div class = "container" id = "three-container">
        <div id="buy-list" style="width: 100%;">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="card">
                            <div class="month" id="Jan">1월</div>
                            <img class="card-img-top" src="/images/catPaw.PNG"></a>
                            <div class="card-body">
                                <h4 class="card-title text-center">상품명</h4>
                                <p class="card-text">상품설명</p>
                                <div class="product-price">25,000원</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="month" id="Jan">1월</div>
                            <img class="card-img-top" src="/images/catPaw.PNG"></a>
                            <div class="card-body">
                                <h4 class="card-title text-center">상품명</h4>
                                <p class="card-text">상품설명</p>
                                <div class="product-price">25,000원</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="month" id="Feb">2월</div>
                            <img class="card-img-top" src="/images/catPaw.PNG"></a>
                            <div class="card-body">
                                <h4 class="card-title text-center">상품명</h4>
                                <p class="card-text">상품설명</p>
                                <div class="product-price">25,000원</div>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="card">
                            <div class="month" id="Feb">2월</div>
                            <img class="card-img-top" src="/images/catPaw.PNG"></a>
                            <div class="card-body">
                                <h4 class="card-title text-center">상품명</h4>
                                <p class="card-text">상품설명</p>
                                <div class="product-price">25,000원</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="month" id="Mar">3월</div>
                            <img class="card-img-top" src="/images/catPaw.PNG"></a>
                            <div class="card-body">
                                <h4 class="card-title text-center">상품명</h4>
                                <p class="card-text">상품설명</p>
                                <div class="product-price">25,000원</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="month" id="Mar">3월</div>
                            <img class="card-img-top" src="/images/catPaw.PNG"></a>
                            <div class="card-body">
                                <h4 class="card-title text-center">상품명</h4>
                                <p class="card-text">상품설명</p>
                                <div class="product-price">25,000원</div>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="card">
                            <div class="month" id="Apr">4월</div>
                            <img class="card-img-top" src="/images/catPaw.PNG"></a>
                            <div class="card-body">
                                <h4 class="card-title text-center">상품명</h4>
                                <p class="card-text">상품설명</p>
                                <div class="product-price">25,000원</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="month" id="Apr">4월</div>
                            <img class="card-img-top" src="/images/catPaw.PNG"></a>
                            <div class="card-body">
                                <h4 class="card-title text-center">상품명</h4>
                                <p class="card-text">상품설명</p>
                                <div class="product-price">25,000원</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="month" id="May">5월</div>
                            <img class="card-img-top" src="/images/catPaw.PNG"></a>
                            <div class="card-body">
                                <h4 class="card-title text-center">상품명</h4>
                                <p class="card-text">상품설명</p>
                                <div class="product-price">25,000원</div>
                            </div>
                        </div>
                </div>
            </div> <!-- /row -->
        </div> <!-- /buy-list -->
    </div> <!--/container-->