<div id="one-div" class="col-div" style="width: 100%;">
    <div class="container">
        <h2>명예의 전당</h2>
        <section class="customer-logos slider">
            <div class="slide"><img src="/images/3월.PNG"></div>
            <div class="slide"><img src="/images/catPaw.PNG"></div>
            <div class="slide"><img src="/images/pencilCase.PNG"></div>
            <div class="slide"><img src="/images/catPaw.PNG"></div>
            <div class="slide"><img src="/images/2월.PNG"></div>
            <div class="slide"><img src="/images/catPaw.PNG"></div>
            <div class="slide"><img src="/images/pencilCase.PNG"></div>
            <div class="slide"><img src="/images/catPaw.PNG"></div>
         </section>
      </div>
      <div class="container">
        <h2>협찬사</h2>
        <section class="customer-logos slider">
            <div class="slide"><img src="/images/가천대로고.jpg"></div>
            <div class="slide"><img src="/images/성신여대로고.png"></div>
            <div class="slide"><img src="/images/세종대로고.jpg"></div>
            <div class="slide"><img src="/images/숙명여대로고.png"></div>
            <div class="slide"><img src="/images/이화여대로고.jpg"></div>
            <div class="slide"><img src="/images/큐시즘.jpeg"></div>
            <div class="slide"><img src="/images/협력사1.jpg"></div>
            <div class="slide"><img src="/images/협력사2.jpg"></div>
         </section>
     </div>