<div id="one-div" class="col-div" style="width: 100%;">
    <div class="col-div" id="res-header">
        <ol style="margin-bottom: 0;">
            <li class="notice-li text-center" style="height: 80px; border: none; border-radius: 0; padding: 15px 0;">
                <a href="/mogeum/1" class="text-white">
                    <div style="display: flex; justify-content: center;">
                        <h4 class="font-weight-bold">4월의 상품을 소개합니다</h4>
                    </div>
                    <span id="sub-notice" style="font-size: 14px;">투표 결과 및 운영진들의 판단에 따라 선정된, 이 달의 상품입니다!</span>
                </a>
            </li>
        </ol>
    </div>
    <button type="button" id="top" style="width: 60px; height: 60px;">
        <img src="/images/top.png" width="30" height="30" alt="scroll top" />
    </button>
    <div class="container">
        <% for (var i = 0; i < 6; i++) { %>
        <div class="row">
            <div class="col-lg-7 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4 two-image">
                        <img src="/images/catPaw.PNG" class="img-fluid" />
                    </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="two-title">
                            <strong>귀여운 민지를 쓰다듬자</strong>
                        </div>
                        <div class="two-content">
                            가끔씩 민지가 단톡방에 이모티콘 수줍게 보내는 게 너무 귀여워요.. 쓰다듬고 싶을 때는?
                        </div>
                        <div class="progress">
                            <div
                                class="progress-bar progress-bar-custom"
                                role="progressbar"
                                aria-valuenow="33"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: 33%;"
                            ></div>
                        </div>
                        <div class="row">
                            <div class="col-3" id="progress-content">선정 완료</div>
                            <div class="col-3" id="progress-content">제작 기업<br>컨택 중</div>
                            <div class="col-3" id="progress-content">제작 완료</div>
                            <div class="col-3" id="progress-content">판매 페이지<br>업로드</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 content-right">
                <div class="oneword">
                    <strong>판매자의 한 마디</strong>
                    <div class="oneword-content">
                        민지를 귀여워하는 마음이 너무 잘 전해져서 기뻐요. <br />
                        모두 쓰담쓰담 열심히 해봐요^_^
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/bell.png" class="oneword-img" width=30px; height="30px;">
                            <p>메일로 출시 알림 받기</p>
                        </div>
                    </div>
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/mail.png" class="oneword-img" width=30px; height="30px;">
                            <p>판매자에게 의견 보내기</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="container">
        <div class="sub-title">명예의 전당</div>
        <section class="customer-logos slider">
            <div class="slide"><img src="/images/3월.PNG" /></div>
            <div class="slide"><img src="/images/catPaw.PNG" /></div>
            <div class="slide"><img src="/images/pencilCase.PNG" /></div>
            <div class="slide"><img src="/images/catPaw.PNG" /></div>
            <div class="slide"><img src="/images/2월.PNG" /></div>
            <div class="slide"><img src="/images/catPaw.PNG" /></div>
            <div class="slide"><img src="/images/pencilCase.PNG" /></div>
            <div class="slide"><img src="/images/catPaw.PNG" /></div>
        </section>
    </div>
    <div class="container">
        <div class="sub-title">협찬사</div>
        <section class="customer-logos slider">
            <div class="slide"><img src="/images/가천대로고.jpg" /></div>
            <div class="slide"><img src="/images/성신여대로고.png" /></div>
            <div class="slide"><img src="/images/세종대로고.jpg" /></div>
            <div class="slide"><img src="/images/숙명여대로고.png" /></div>
            <div class="slide"><img src="/images/이화여대로고.jpg" /></div>
            <div class="slide"><img src="/images/큐시즘.jpeg" /></div>
            <div class="slide"><img src="/images/협력사1.jpg" /></div>
            <div class="slide"><img src="/images/협력사2.jpg" /></div>
        </section>
    </div>
