<div id="one-div" class="col-div" style="width: 100%;">
    <div class="col-div" id="res-header">
        <ol style="margin-bottom: 0;">
            <li class="notice-li text-center" style="height: 80px; border: none; border-radius: 0; padding: 15px 0;">
                <a href="/mogeum/2" class="text-white">
                    <div style="display: flex; justify-content: center;">
                        <h4 class="font-weight-bold">5월의 상품을 소개합니다</h4>
                    </div>
                    <span id="sub-notice" style="font-size: 14px;">투표 결과 및 운영진들의 판단에 따라 선정된, 이 달의 상품입니다!</span>
                </a>
            </li>
        </ol>
    </div>
    <button type="button" id="top" style="width: 60px; height: 60px;">
        <img src="/images/top.png" width="30" height="30" alt="scroll top" />
    </button>
    <div class="container">
        <h5 class="font-weight-bold mt-3 mb-3">TOP6 선정되어 상품화 진행 중에 있습니다!</h5>
        <% for (var i = 0; i < 6; i++) { %>
        <div class="row">
            <div class="col-lg-7 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4 two-image">
                        <% if (selectResults[i] !== undefined) { %>
                            <a href="/mogeum-detail/2/<%= selectResults[i].productNum %>">
                                <img src="<%= selectResults[i].thumbnailImg %>" class="img-fluid" />
                            </a>
                        <% } %>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="two-title">
                            <% if (selectResults[i] !== undefined) { %>
                                <strong><%= selectResults[i].productName %></strong>
                            <% } %>
                        </div>
                        <div class="two-content">
                            <% if (selectResults[i] !== undefined) { %>
                                <%= selectResults[i].productIntro %>
                            <% } %>
                        </div>
                        <div class="progress">
                            <div
                                class="progress-bar progress-bar-custom"
                                role="progressbar"
                                aria-valuenow="33"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: 33%;"
                            ></div>
                        </div>
                        <div class="row">
                            <div class="col-3" id="progress-content">선정 완료</div>
                            <div class="col-3" id="progress-content">제작 기업<br>컨택 중</div>
                            <div class="col-3" id="progress-content">제작 완료</div>
                            <div class="col-3" id="progress-content">판매 페이지<br>업로드</div>
                        </div>
                    </div>
                </div>
            </div>
            <% if (i == 0) { %>
            <div class="col-lg-5 col-sm-12 content-right">
                <div class="oneword">
                    <strong>판매자의 한 마디</strong>
                    <div class="oneword-content">
                        강아지 조낸 귀여움!. <br />
                        모두 쓰담쓰담 열심히 해봐요^_^
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/bell.png" class="oneword-img" width=30px; height="30px;">
                            <p>메일로 출시 알림 받기</p>
                        </div>
                    </div>
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/mail.png" class="oneword-img" width=30px; height="30px;">
                            <p>판매자에게 의견 보내기</p>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (i == 1) { %>
            <div class="col-lg-5 col-sm-12 content-right">
                <div class="oneword">
                    <strong>판매자의 한 마디</strong>
                    <div class="oneword-content">
                        이 티셔츠를 입으면 몸짱이 된다구? 앙 김오띠! <br />
                        싸게 팔게요~
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/bell.png" class="oneword-img" width=30px; height="30px;">
                            <p>메일로 출시 알림 받기</p>
                        </div>
                    </div>
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/mail.png" class="oneword-img" width=30px; height="30px;">
                            <p>판매자에게 의견 보내기</p>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (i == 2) { %>
            <div class="col-lg-5 col-sm-12 content-right">
                <div class="oneword">
                    <strong>판매자의 한 마디</strong>
                    <div class="oneword-content">
                        싸게 팔아요ㅕ.. <br />
                        돈이 업 다 구 요
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/bell.png" class="oneword-img" width=30px; height="30px;">
                            <p>메일로 출시 알림 받기</p>
                        </div>
                    </div>
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/mail.png" class="oneword-img" width=30px; height="30px;">
                            <p>판매자에게 의견 보내기</p>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (i == 3) { %>
            <div class="col-lg-5 col-sm-12 content-right">
                <div class="oneword">
                    <strong>판매자의 한 마디</strong>
                    <div class="oneword-content">
                        ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ <br />
                        그냥 사라~~~
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/bell.png" class="oneword-img" width=30px; height="30px;">
                            <p>메일로 출시 알림 받기</p>
                        </div>
                    </div>
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/mail.png" class="oneword-img" width=30px; height="30px;">
                            <p>판매자에게 의견 보내기</p>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (i == 4) { %>
            <div class="col-lg-5 col-sm-12 content-right">
                <div class="oneword">
                    <strong>판매자의 한 마디</strong>
                    <div class="oneword-content">
                        치킨값 벌고 싶어요 !!<br />
                        모두 쓰담쓰담 열심히 해봐요^_^
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/bell.png" class="oneword-img" width=30px; height="30px;">
                            <p>메일로 출시 알림 받기</p>
                        </div>
                    </div>
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/mail.png" class="oneword-img" width=30px; height="30px;">
                            <p>판매자에게 의견 보내기</p>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (i == 5) { %>
            <div class="col-lg-5 col-sm-12 content-right">
                <div class="oneword">
                    <strong>판매자의 한 마디</strong>
                    <div class="oneword-content">
                        싸게 팔게요.... 거져로.. <br />
                        잘 사용하세요~!!
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/bell.png" class="oneword-img" width=30px; height="30px;">
                            <p>메일로 출시 알림 받기</p>
                        </div>
                    </div>
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <img src="/images/mail.png" class="oneword-img" width=30px; height="30px;">
                            <p>판매자에게 의견 보내기</p>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>
    <div class="container">
        <h5 class="font-weight-bold mt-3 mb-3">명예의 전당</h5>
        <section class="customer-logos slider">
            <div class="slide"><img src="/images/3월.PNG" /></div>
            <div class="slide"><img src="/images/catPaw.PNG" /></div>
            <div class="slide"><img src="/images/pencilCase.PNG" /></div>
            <div class="slide"><img src="/images/catPaw.PNG" /></div>
            <div class="slide"><img src="/images/2월.PNG" /></div>
            <div class="slide"><img src="/images/catPaw.PNG" /></div>
            <div class="slide"><img src="/images/pencilCase.PNG" /></div>
            <div class="slide"><img src="/images/catPaw.PNG" /></div>
        </section>
    </div>
    <div class="container">
        <div class="sub-title">협찬사</div>
        <section class="a slider">
            <div class="slide"><img src="/images/가천대로고.jpg" /></div>
            <div class="slide"><img src="/images/성신여대로고.png" /></div>
            <div class="slide"><img src="/images/세종대로고.jpg" /></div>
            <div class="slide"><img src="/images/숙명여대로고.png" /></div>
            <div class="slide"><img src="/images/이화여대로고.jpg" /></div>
            <div class="slide"><img src="/images/큐시즘.jpeg" /></div>
        </section>
    </div>
