#main-div {
    overflow-y: scroll;
}
/* 상단 carousel div */
#main-carousel {
    width: 100%;
    height: 250px;
    cursor: pointer;
    margin-bottom: 2px;
}
/* 상단 상품 추천 carousel item */
.top-carousel {
    background-size: 280px 280px;
    background-position: left bottom;
    background-repeat: no-repeat;
}
/* carousel item 삽입 이미지 */
#first-carousel {
    background-image: url('/images/main3.png');
    background-color: seashell;
    background-size: 350px 250px;
    color: black;
}
#second-carousel {
    background-image: url('/images/main2.png');
    background-color: lavenderblush;
    background-size: 250px 250px;
}
#third-carousel {
    background-image: url('/images/main1.png');
    background-color: rgb(233, 240, 255);
    background-size: 250px 250px;
}
.review-article a:hover {
    color: black;
}
h3 {
    position: absolute;
    bottom: 50px;
    right: 50px;
}
mark {
    padding: 0;
    background-color: black;
}
/* 이벤트 기간 공지 */
.notice-li {
    height: 50px;
    background-image: linear-gradient(to right, #66ccff, #cc66ff);
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 10px;
}
.notice-li a {
    font-size: 16px;
    vertical-align: middle;
    width: 100%;
}
.d-day {
    border-radius: 5px;
    float: left;
    width: 50px;
    margin-left: 10px;
}
/* 한모금 페이지 배너 */
.onemogeum-banner {
    height: 100px;
    background-image: linear-gradient(to right, #66ccff, #cc66ff);
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 10px;
}
.onemogeum-banner a:nth-of-type(1) {
    font-size: 30px;
    vertical-align: middle;
    width: 100%;
}
.onemogeum-banner a:nth-of-type(2) {
    font-size: 16px;
    vertical-align: middle;
    width: 100%;
}
.onemogeum-banner .d-day {
    border-radius: 5px;
    float: left;
    width: 100px;
    margin-left: 10px;
}
.image_bg {
    background-image: url(/images/product_vg.png);
}
/* 이런 상품도 있어요! */
.product-title {
    font-size: 17px;
    margin: 0;
    float: left;
    background-image: linear-gradient(to right, #80d4ff, #cc66ff);
    height: 6vh;
    padding: 1vh 10px;
}
.product-name {
    /* font-size: 18px; */
    color: black;
}
/* 꿀떡꿀떡 넘어가는 리뷰 */
.card-body {
    padding-top: 0;
}
.review-rank {
    font-size: 25px;
}
.checked {
    color: orange;
}
.review-title {
    height: 20%;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.review-title:hover {
    color: #d1b2ff;
    transition: 0.2s;
}
.review-content {
    color: black;
    text-align: left;
}
.customer-ID {
    color: black;
    float: right;
}
.col-sm-3 {
    text-align: right;
    padding: 0%;
}
/* 메인에 있는 상품 hover시 */
.mouse-up:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: transform 0.5s;
}

/* footer */
.footer p {
    font-size: 11px;
    text-align: center;
    padding-bottom: 10px;
}
/* 꿀떡 리뷰 */
.projects-horizontal {
    color: #313437;
    background-color: #fff;
}

.projects-horizontal h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width: 767px) {
    .projects-horizontal h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.projects-horizontal .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 10px;
}

.projects-horizontal .projects {
    padding-bottom: 40px;
}

.projects-horizontal .item {
    padding-top: 30px;
    min-height: 160px;
}

@media (max-width: 767px) {
    .projects-horizontal .item {
        padding-top: 40px;
        min-height: 160px;
    }
}

.projects-horizontal .item .name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    color: inherit;
}

@media (max-width: 991px) {
    .projects-horizontal .item .name {
        margin-top: 22px;
    }
}

.projects-horizontal .item .description {
    /* font-size: 15px; */
    margin-bottom: 0;
}

.review-article {
    cursor: pointer;
}

.review-article:hover .row div h6 {
    color: #D1B2FF;
    transition: 0.2s;
} 