/* 전체 폰트 설정 (나눔스퀘어) */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
* {
    box-sizing: border-box;
}
/* lg 기준보다 브라우저 크기 작을 때 */
@media screen and (max-width: 1200px) {
    /* 한 모금 페이지 display 가로로 변경 */
    #one-div-main {
        flex-direction: column;
    }
    #realtime-ranking {
        width: 100%;
    }
    /* 한모금 상세페이지 투표 상태 */
    #current-vote {
        margin: 0 auto;
    }
    #custCarousel .carousel-item img, #detail-intro {
        max-width: 400px;
        max-height: 400px;
    }
    .review-div {
        margin-bottom: 10px;
    }
    .description {
        font-size: 14px;
    }
}
/* md 기준보다 브라우저 크기 작을 때 */
@media screen and (max-width: 768px) {
    /* 가로 네비로 변경 */
    body {
        flex-direction: column;
    }
    #nav {
        height: auto;
        min-height: 430px;
    }
    #userdiv {
        height: 100px;
        padding: 0;
    }
    #page-menu a {
        text-align: center;
    }
    #logo {
        height: 150px;
    }
    /* nav, body 스크롤 내려서 볼 수 있게 변경 */
    #main-div {
        overflow-y: inherit;
    }
    #main-div div h4 {
        text-align: center;
    }
    /* 페이지 스크롤 내려서 볼 수 있게 변경 */
    #one-div {
        overflow-y: inherit;
    }
    #product-div {
        overflow-y: inherit;
    }
    /* 로그아웃 버튼 위치 변경 */
    #logout {
        bottom: initial;
        top: 15px;
    }
}
/* sm 기준보다 브라우저 크기 작을 때 */
@media screen and (max-width: 576px) {
    /* main에서 d-day 배너 삭제 */
    .d-day {
        display: none;
    } /* 한 모금 */
    #one-div > div {
        position: initial;
    }
    #top {
        right: 10px;
    }
    #current-vote {
        width: inherit;
    }
    #custCarousel .carousel-item img {
        width: inherit;
        height: inherit;
    }
    #detail-intro {
        width: inherit;
    }
}
/* 그 외 브라우저 크기 */
@media screen and (max-width: 900px) {
    /* main에서 모금 배너 삭제 */
    .productTitle {
        display: none;
    }
}
