.mypage-header {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(to right, #66ccff, #cc66ff);
    padding: 20px;
    display: block;
}

#profile-info {
    background-color: #f3f2ff;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#profile {
    text-align: center;
}

#profile-info div button,
.buy-review button {
    background-image: linear-gradient(to right, #66ccff, #cc66ff);
    border: none;
    color: white;
}
#profile-info div button:hover,
.buy-review button:hover {
    opacity: 0.7;
}

#profile-img {
    text-align: center;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 50%;
    background-color: white;
}

.buy-review button {
    font-size: 16px;
}

#level {
    font-size: smaller;
}

.profile-sep1 {
    background-color: #ecebff;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}

.profile-sep2 {
    padding: 20px;
    margin: 5px;
}

.contact {
    font-size: 20px;
    padding-bottom: 5px;
}

.edit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.vote-product {
    text-align: center;
    margin: 5px;
    display: flex;
}

.product-name {
    padding: 5px;
    /* font-size: large; */
}

.buy-specific:hover div div #buy-product, .row:hover div div .buy-list-title, .vote-product div:hover a .product-name {
    color: #d1b2ff;
    transition: 0.2s;
}

.rank {
    text-align: center;
    background-color: aliceblue;
    padding: 2px;
    width: 150px;
    position: absolute;
}

.title-left {
    text-align: left;
    font-size: 20px;
}

.title-right {
    text-align: right;
    cursor: pointer;
}

.title {
    margin-top: 30px;
}
.rank {
    position: absolute;
    top: 5px;
    left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    width: 70px;
    height: 30px;
    color: white;
    background-color: #d1b2ff;
}

.buy-list {
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}

.buy-specific {
    text-align: center;
}

.col-sm-12 {
    margin-top: 10px;
}

.semi-title {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

.cart-img {
    text-align: center;
    padding-left: 20px;
}

.cart-price {
    text-align: center;
}

.cart-check {
    text-align: center;
}

.extra-menu {
    background-color: #ECEBFF;
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra-menu:hover {
    background-color: #d1b2ff;
    transition: 0.2s;
}

.row {
    display: flex;
    /* align-items: center; */
}

@media screen and (max-width: 768px) {
    .product-name {
        font-size: 16px;
    }
    .buy-list {
        font-size: 15px;
        font-weight: 600;
    }
    .buy-specific {
        font-size: 13px;
    }
}

@media screen and (max-width: 576px) {
    .buy-list {
        font-size: 13px;
        font-weight: 600;
    }
    .buy-specific {
        text-align: center;
        font-size: 12px;
    }
}
