.mypage-header {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(to right, #66ccff, #cc66ff);
    padding: 20px;
    display: block;
}

#profile-info {
    background-color: gainsboro;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#profile {
    text-align: center;
}

#profile-img {
    text-align: center;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#level {
    font-size: smaller;
}

.profile-sep1 {
    background-color: white;
    padding: 20px;
    margin: 5px;
}

.profile-sep2 {
    background-color: white;
    padding: 20px;
    margin: 5px;
}

.contact {
    font-size: 20px;
    padding-bottom: 5px;
}

.edit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.vote-product {
    text-align: center;
    margin: 5px;
}

.product-name {
    padding: 5px;
    /* font-size: large; */
}

.product-name:hover{
    color: #D1B2FF;
    transition: 0.2s;
}

.rank {
    text-align: center;
    background-color: aliceblue;
    padding: 2px;
    width: 150px;
    position: absolute;
}

.title-left {
    text-align: left;
    font-size: 20px;
}

.title-right {
    text-align: right;
    cursor: pointer;
}

.title {
    margin-top: 30px;
}
.rank {
    position: absolute;
    top: 5px;
    left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    width: 70px;
    height: 30px;
    color: white;
    background-color: #D1B2FF;
}

.buy-list {
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}

.buy-specific {
    text-align: center;
}

#buy-product:hover {
    color: #D1B2FF;
    transition: 0.2s;
}

.col-sm-12 {
    margin-top: 10px;
}

.buy-list-title:hover {
    color: #D1B2FF;
    transition: 0.2s;
}

.semi-title {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

.cart-img {
    text-align: center;
    padding-left: 20px;
}

.cart-price {
    text-align: center;
}

.cart-check {
    text-align: center;
}

.extra-menu {
    border: 1px solid #66ccff;
    margin-top: 5px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    /* align-items: center; */
}

@media screen and (max-width: 768px) {
    .product-name {
        font-size: 16px;
    }
    .buy-list {
        font-size: 15px;
        font-weight: 600;
    }
    .buy-specific {
        font-size: 13px;
    }
}

@media screen and (max-width: 576px) {
    .buy-list {
        font-size: 13px;
        font-weight: 600;
    }
    .buy-specific {
        text-align: center;
        font-size: 12px;
    }
}