/* 한 모금 전체 div */
#one-div {
    overflow-y: auto;
}
#one-div > #col-div {
    /* position: sticky;
    top: 0; */
}
#one-div-main {
    display: flex;
    flex-direction: row-reverse;
}
/* 실시간 랭킹 */
#realtime-ranking {
    width: 400px;
    padding: 0 20px;
}
#one-div .card-body {
    padding: 10px 0;
    color: black;
}
/* 상품 목록 */
.card {
    border: none;
    cursor: pointer;
}
#vote-list div div > .card:hover {
    box-shadow: 10px 10px 10px lightgray;
    transition: 0.2s;
}
.card-body > h4 > a, .card-body > p > a {
    color: black;
}
/* 헤더 고정 */
#one_div > div {
    position: sticky;
    top: 0;
    z-index: 3;
}
.ranking-item {
    color: black;
    height: 40px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #80d4ff, #cc66ff);
    border-image-slice: 2;
    padding: 8px;
    cursor: pointer;
    top: 100px;
}
/* scroll top */
#top {
    border-radius: 50%;
    position: fixed;
    right: 40px;
    bottom: 20px;
    z-index: 4;
    background-image: linear-gradient(to right, rgb(128, 212, 255), rgb(204, 102, 255));
    box-shadow: 10px 10px 10px lightgray;
}