/* 상품 공모 전체 div */
#product-div {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
/* 공모 form 관련 */
.form-control {
    border-color: #d7d7d7;
    box-shadow: none;
}
.form-control:focus,
.btn:focus {
    border-color: #a177ff;
    box-shadow: 0 0 8px #c2a8ff;
}
.contact-form {
    margin: 0 auto;
    padding: 40px 20px;
}
.contact-form form {
    background: #fff;
    border-radius: 6px;
}
.contact-form h1 {
    text-align: center;
    font-size: 50px;
    margin: 0 0 15px;
}
.contact-form .form-group {
    margin-bottom: 20px;
}
.contact-form .form-control,
.contact-form .btn {
    border-radius: 2px;
    transition: all 0.5s;
    outline: none;
}
.contact-form .btn {
    background-image: linear-gradient(to right, #66ccff, #cc66ff);
    font-size: 16px;
    min-height: 50px;
    border: none;
}
.contact-form .btn:focus {
    background: #8048ff;
    outline: none;
}
.contact-form .btn i {
    margin-right: 5px;
}
.contact-form label {
    font-size: 16px;
}
.contact-form textarea {
    resize: none;
}
.hint-text {
    font-size: 15px;
    text-align: center;
    padding-bottom: 25px;
    opacity: 0.8;
}
/* 체크박스 css */
.span_pseudo,
.chiller_cb span:before,
.chiller_cb span:after {
    content: '';
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}
.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
}
.chiller_cb input {
    display: none;
}
.chiller_cb input:checked ~ span {
    background: #fd2727;
    border-color: #fd2727;
}
.chiller_cb input:checked ~ span:before {
    width: 1rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
    width: 0.4rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
    background: #ececec;
    border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
    color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
    cursor: default;
}
.chiller_cb label {
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
}
.chiller_cb span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}
.chiller_cb span:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
}
.chiller_cb span:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
}
