#prodContest-div {
    overflow-y: scroll;
}
#prodContest-div-main {
    display: flex;
    flex-direction: row-reverse;
}
#prodContest-div > div[class="col-div"] {
    position: sticky;
    top: 0;
    z-index: 3;
}

/*just bg and body style*/
/* .container{
    background-color:#1E2832;
    padding-bottom:20px;
    margin-top:10px;
    border-radius:5px;
} */
.center{
    text-align:center;  
}
#top{
    margin-top:20px;  
}
.btn-container{
    background:#fff;
    border-radius:5px;
    padding-bottom:20px;
    margin-bottom:20px;
}
.white{
    color:white;
}
.imgupload{
    color:#1E2832;
    padding-top:40px;
    font-size:7em;
}
#namefile{
    color:black;
}
h4>strong{
    color:#ff3f3f
}
.btn-primary{
    border-color: #ff3f3f !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff3f3f !important;
    border-color: #ff3f3f !important;
}
    
/*these two are set to not display at start*/
.imgupload.ok{
    display:none;
    color:green;
}
.imgupload.stop{
    display:none;
    color:red;
}
    
    
/*this sets the actual file input to overlay our button*/ 
#fileup{
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    width:200px;
    cursor: pointer;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    height: 50px;
}