/* 조회수 높은 인기 상품 */
#top-sell {
    border-width: 6px;
    border-image: linear-gradient(to right, #80d4ff, #cc66ff);
    border-image-slice: 2;
}
/* 조회수 표시 */
#click-cnt {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* 랭킹 라벨 */
.product-rank {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    background-image: linear-gradient(to right, #80d4ff, #cc66ff);
    border: none;
    width: 50px;
}

/* 상품 목록 */
#buy-list div div > .card {
    border: none;
    cursor: pointer;
}

#buy-list div div > .card:hover h6,
.best-sell:hover h6 {
    color: #D1B2FF;
    transition: 0.2s;
}

#buy-list div div > .card > .card-body > h4 > a,
.card-body > p {
    color: black;
}

.product-price {
    color: black;
    font-weight: 900;
    font-size: 15px;
}

/* 달 */
.month {
    position: absolute;
    top: 10px;
    left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    width: 70px;
    height: 30px;
    color: white;
}

.month-1 {
    background-color: orange;
}

.month-2 {
    background-color: chartreuse;
}

.month-3 {
    background-color: royalblue;
}

.month-4 {
    background-color: palevioletred;
}

.month-5 {
    background-color: rebeccapurple;
}
