.row {
    /* margin-top: 10px; */
}
.col-9 {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.two-image {
    padding-bottom: 5px;
}

.two-title {
    padding-bottom: 5px;
}

.two-title > a {
    color: black;
}

.two-title > a :hover {
    color: #D1B2FF;
    transition: 0.2s;
}

.two-content {
    font-size: 15px;
    padding-bottom: 5px;
}

.progress-bar-custom {
    background: #cc66ff;
    background: -webkit-linear-gradient(top, #66ccff) 0%, #cc66ff 100%);
    background: linear-gradient(to right, #66ccff 0%, #cc66ff 100%);
}

#progress-content {
    font-size: 10px;
}

.col-lg-5 {
    text-align: center;
}

.oneword {
    background-color: #ECEBFF;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    padding: 10px;
}

.oneword-bottom button {
    font-size: 15px;
    cursor: pointer;
}

.oneword-content {
    font-size: 13px;
    padding-top: 5px;
}

.oneword-bottom {
    margin-top: 5px;
    text-align: center;
    justify-content: center;
} 

.oneword-bottom:hover button, .row:hover div .two-title {
    color: #D1B2FF;
    transition: 0.2s;
}

.oneword-img {
    margin-right: 10px;
}

.oneword-menu {
    margin-top: 5px;
    margin-bottom: 10px;
}

.content-right {
    padding-bottom: 10px;
}

.sub-title {
    font-size: x-large;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 10px;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.vote-label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    height: 30px;
    color: white;
    padding: 5px;
    background-image: linear-gradient(to right, #66ccff, #cc66ff);
}
